<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>우리팀을 소개합니다</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/more.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <h1>Re_member</h1>
      <div class="add-team-crew">
        <span>팀원 추가</span>
        <button id="add-team-crew"><i class="fa-solid fa-plus"></i></button>
      </div>
    </header>

    <!-- 팀추가 창 -->
    <div id="posting-box" class="posting-bg">
      <div class="posting-wrapper">
        <div class="posting-item">
          <span>crew's 이름</span>
          <input type="text" id="crew-name" />
        </div>
        <div class="posting-item">
          <span>crew's 사진</span>
          <input type="text" id="crew-img" />
        </div>
        <div class="posting-item">
          <span>crew's mbti</span>
          <input type="text" id="crew-mbti" />
        </div>
        <div class="posting-item">
          <span>crew's 거주지</span>
          <input type="text" id="crew-address" />
        </div>
        <div class="posting-item">
          <span>crew's 이메일</span>
          <input type="text" id="crew-email" />
        </div>
        <div class="posting-item">
          <span>crew's 깃헙 id</span>
          <input type="text" id="crew-github" />
        </div>
        <div class="posting-item">
          <span>crew's 취미</span>
          <textarea id="crew-hobby" name="" cols="30" rows="10"></textarea>
        </div>
        <!-- 증말.... selector 이름들 보면... 화가나려고 합니다 ㅎㅎ.. 잘짓고 싶댜 ... 엉망 쥔촹~-->
        <div class="posting-btns">
          <button id="add-post" onclick="posting()">등록</button>
          <button id="close-post">닫기</button>
        </div>
      </div>
    </div>

    <!-- 팀소개 box -->
    <!-- navbar 삭제 및 부트스트랩 안쓸것 같아서 삭제  -->
    <div class="teamIntro-bg">
      <div class="teamIntro-wrapper">
        <h1>기억해조</h1>
        <p>SINCE 23.05.15.MON. ~</p>
        <h5 style="font-weight: 500">소속 : 내일배움 캠프 B반 4조</h5>
        <h5>팀의 좌우명 : 누군가의 기억속에 남을 수 있는 존재가 되자</h5>
      </div>
    </div>

    <!-- modal post 상세보기 -->
    <div id="modal-darkness" class="modalOf-detailPost modal-darkness">
      <!-- detail-post-bg 안에 comment 전체 box도 포함 -->
      <div id="detail-post" class="detail-post-bg">
        <!-- ! mother...뭐선일이고 -->
        <div class="detail-post-wrapper-mother">
          <!-- <button id="kill-modal-darkness">X</button> -->
          <button onclick="killModal()" class="kill-modal-darkness">X</button>
          <div class="detail-post detail-post-wrapper">
            <div class="detail-post-img">
              <img src="../static/images/sample-crewimg1.png" alt="" />
            </div>
            <div class="detail-post1-info">
              <div>
                <i class="fa-solid fa-user"></i>
                <span style="margin-left: 20px">name</span>
              </div>
              <div>
                <i class="fa-solid fa-star"></i>
                <span style="margin-left: 20px">mbti</span>
              </div>
              <div>
                <i class="fa-solid fa-location-dot"></i>
                <span style="margin-left: 20px">경주(위치)</span>
              </div>
              <div>
                <i class="fa-solid fa-envelope"></i>
                <span style="margin-left: 20px">12345678@gmail.com</span>
              </div>
              <div>
                <i class="fa-brands fa-github"></i>
                <span style="margin-left: 20px">깃헙아이디</span>
              </div>
              <div>
                <i class="fa-solid fa-plane"></i>
                <span style="margin-left: 20px">취미</span>
              </div>
            </div>
          </div>

          <!-- 토글 발동 버튼 id="comment-toggle-btn" -->
          <!-- <div class="detail-post comment-toggle-wrapper" style="background-color: white">
            <button id="comment-toggle-btn" class="comment-toggle-btn1">
              <i class="fa-regular fa-comment-dots fa-flip-horizontal" style="margin-right: 5px"></i>댓글
              <i class="fa-solid fa-angle-down toggle-arrow"></i>
            </button>
          </div> -->

          <!-- 댓글 입력하기 -->
          <!-- comment-bg는 toggle형태로 숨기고 보이게 하고 싶다 -->
          <!-- 접히는 부분 id=comment-toggle box -->
          <!-- ! 수정필요 아래 백그라운드 배경 수정 필요한가 -->
          <div id="comment-toggle-box" class="detail-post comment-bg" style="background-color: white">
            <div class="comment-post-wrapper">
              <div><input id="comment-name" placeholder="이름" /></div>
              <textarea
                name="comment"
                id="comment"
                placeholder="궁금하거나 하실 말씀이 있으면 댓글을 입력해주세요!"></textarea>
              <div><button>등록</button></div>
            </div>

            <!-- 댓글 전체보기 -->
            <!-- 각 comment 감싸고 있는게 id="comment-list"  -->
            <!-- ! height 130px(보통댓글 3개 정도) 이상 => 더 보이는 댓글이 흘러넘치면 스크롤 될 수 있도록 -->
            <!-- 스크롤 기능은 class="comment-get-wrapper"에 추가! -->
            <div id="comment-list" class="comment-get-wrapper" style="margin-top: 30px">
              <div id="comment-list-item">
                <div class="comment-get-items comment-get-top">
                  <span>신짱구</span>
                  <div>
                    <button id="comment-edit" style="font-weight: 500">수정</button>/<button
                      id="comment-delete"
                      style="font-weight: 500">
                      삭제
                    </button>
                  </div>
                </div>
                <div class="comment-get-items comment-get-mid">
                  <span
                    >comment 내용 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem saepe suscipit
                    omnis eveniet vero ducimus ex tempora, animi dicta eligendi inventore amet praesentium mollitia
                    reprehenderit doloremque dolor tenetur doloribus!</span
                  >
                </div>
                <div class="comment-get-items comment-get-bottom"><span>2023.05.15. 11:48</span></div>
              </div>
              <div id="comment-list-item">
                <div class="comment-get-items comment-get-top">
                  <span>신짱구</span>
                  <div>
                    <button id="comment-edit" style="font-weight: 500">수정</button>/<button
                      id="comment-delete"
                      style="font-weight: 500">
                      삭제
                    </button>
                  </div>
                </div>
                <div class="comment-get-items comment-get-mid">
                  <span
                    >comment 내용 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem saepe suscipit
                    omnis eveniet vero ducimus ex tempora, animi dicta eligendi inventore amet praesentium mollitia
                    reprehenderit doloremque dolor tenetur doloribus!</span
                  >
                </div>
                <div class="comment-get-items comment-get-bottom"><span>2023.05.15. 11:48</span></div>
              </div>
              <div id="comment-list-item">
                <div class="comment-get-items comment-get-top">
                  <span>신짱구</span>
                  <div>
                    <button id="comment-edit" style="font-weight: 500">수정</button>/<button
                      id="comment-delete"
                      style="font-weight: 500">
                      삭제
                    </button>
                  </div>
                </div>
                <div class="comment-get-items comment-get-mid">
                  <span
                    >comment 내용 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem saepe suscipit
                    omnis eveniet vero ducimus ex tempora, animi dicta eligendi inventore amet praesentium mollitia
                    reprehenderit doloremque dolor tenetur doloribus!</span
                  >
                </div>
                <div class="comment-get-items comment-get-bottom"><span>2023.05.15. 11:48</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- cards 들 -->
    <div class="crew-cards-bg">
      <!-- 팀원을 더 늘리거나 줄이지 않는다는 가정하에 요소배치 -->
      <div id="crew-cards" class="crew-cards-wrapper">
        <!-- * 아래 각 카드의 class가 crew-card인 곳에 p_id를 붙여서 가져와야합니다. 
        *      그래야 상세보기 모달창을 특이적으로 보여줄 수 있습니다. -->
        <!-- 상세보기 모달창은 onclick시 함수를 실행시켜, 매개변수에 p_id값을 담아서 가져가야합니다. -->
        <div class="crew-card" id="test" onclick="toShowMoreInfo(this.id)">
          <h2 id="crew_mbti">MBTI</h2>
          <div class="crew-card-img">
            <img id="crew-card-img" src="../static/images/sample-crewimg2.jpeg" alt="crew image" />
          </div>
          <h2 id="crew-card-name">홍길동</h2>
        </div>
        <div class="crew-card">
          <h2 id="crew_mbti">MBTI</h2>
          <div class="crew-card-img">
            <img id="crew-card-img" src="../static/images/sample-crewimg2.jpeg" alt="crew image" />
          </div>
          <h2 id="crew-card-name">홍길동</h2>
        </div>
        <div class="crew-card">
          <h2 id="crew_mbti">MBTI</h2>
          <div class="crew-card-img">
            <img id="crew-card-img" src="../static/images/sample-crewimg2.jpeg" alt="crew image" />
          </div>
          <h2 id="crew-card-name">홍길동</h2>
        </div>
        <div class="crew-card">
          <h2 id="crew_mbti">MBTI</h2>
          <div class="crew-card-img">
            <img id="crew-card-img" src="../static/images/sample-crewimg2.jpeg" alt="crew image" />
          </div>
          <h2 id="crew-card-name">홍길동</h2>
        </div>
        <div class="crew-card">
          <h2 id="crew_mbti">MBTI</h2>
          <div class="crew-card-img">
            <img id="crew-card-img" src="../static/images/sample-crewimg2.jpeg" alt="crew image" />
          </div>
          <h2 id="crew-card-name">홍길동</h2>
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright ©2023 Re_member. All rights reserved.</p>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"></script>

    <!-- 아래 주석처럼 첨부하는게 아니라 그 밑에 꺼 써야함 -->
    <!-- <link rel="stylesheet" href="../static/js/index.js" /> -->
    <script src="../static/js/index.js"></script>

    <!-- (댓글 토글 기능)얘도.... 뭔가 여기선 필요없을듯... ㅠ -->
    <!-- <script>
      $('#comment-toggle-btn').click(function () {
        $('#comment-toggle-box').toggle();
      });
    </script> -->
  </body>
</html>
