<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/more.css" />

    <title>게시물 상세페이지</title>
  </head>
  <body>
    <div class="header-bg"></div>

    <!-- detail-post-bg 안에 comment 전체 box도 포함 -->
    <div class="detail-post-bg">
      <div class="detail-post detail-post-wrapper">
        <div class="detail-post-img">
          <img src="../static/images/sample-crewimg1.png" alt="" />
        </div>
        <div class="detail-post1-info">
          <div>
            <i class="fa-solid fa-user"></i>
            <span style="margin-left: 20px">name</span>
          </div>
          <div>
            <i class="fa-solid fa-star"></i>
            <span style="margin-left: 20px">mbti</span>
          </div>
          <div>
            <i class="fa-solid fa-location-dot"></i>
            <span style="margin-left: 20px">경주(위치)</span>
          </div>
          <div>
            <i class="fa-solid fa-envelope"></i>
            <span style="margin-left: 20px">12345678@gmail.com</span>
          </div>
          <div>
            <i class="fa-brands fa-github"></i>
            <span style="margin-left: 20px">깃헙아이디</span>
          </div>
          <div>
            <i class="fa-solid fa-plane"></i>
            <span style="margin-left: 20px">취미</span>
          </div>
        </div>
      </div>

      <div class="detail-post comment-toggle-wrapper" style="background-color: aqua">
        <button class="comment-toggle-btn1">
          <i class="fa-regular fa-comment-dots fa-flip-horizontal" style="margin-right: 5px"></i>댓글
          <i class="fa-solid fa-angle-down toggle-arrow"></i>
        </button>
      </div>

      <!-- comment-bg는 toggle형태로 숨기고 보이게 하고 싶다 -->
      <!-- ! 수정필요 아래 백그라운드 배경 수정 필요한가 -->
      <div class="detail-post comment-bg" style="background-color: white">
        <div class="comment-post-wrapper">
          <div><input id="comment-name" placeholder="이름" /></div>
          <textarea
            name="comment"
            id="comment"
            placeholder="궁금하거나 하실 말씀이 있으면 댓글을 입력해주세요!"></textarea>
          <div><button>등록</button></div>
        </div>

        <!-- 댓글 전체보기 -->
        <!-- 각 comment 감싸고 있는게 id="comment-list"  -->
        <!-- ! height 130px(보통댓글 3개 정도) 이상 => 더 보이는 댓글이 흘러넘치면 스크롤 될 수 있도록 -->
        <!-- 스크롤 기능은 class="comment-get-wrapper"에 추가! -->
        <div id="comment-list" class="comment-get-wrapper" style="margin-top: 30px">
          <div id="comment-list-item">
            <div class="comment-get-items comment-get-top">
              <span>신짱구</span>
              <div>
                <button id="comment-edit" style="font-weight: 500">수정</button>/<button
                  id="comment-delete"
                  style="font-weight: 500">
                  삭제
                </button>
              </div>
            </div>
            <div class="comment-get-items comment-get-mid">
              <span
                >comment 내용 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem saepe suscipit
                omnis eveniet vero ducimus ex tempora, animi dicta eligendi inventore amet praesentium mollitia
                reprehenderit doloremque dolor tenetur doloribus!</span
              >
            </div>
            <div class="comment-get-items comment-get-bottom"><span>2023.05.15. 11:48</span></div>
          </div>
          <div id="comment-list-item">
            <div class="comment-get-items comment-get-top">
              <span>신짱구</span>
              <div>
                <button id="comment-edit" style="font-weight: 500">수정</button>/<button
                  id="comment-delete"
                  style="font-weight: 500">
                  삭제
                </button>
              </div>
            </div>
            <div class="comment-get-items comment-get-mid">
              <span
                >comment 내용 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem saepe suscipit
                omnis eveniet vero ducimus ex tempora, animi dicta eligendi inventore amet praesentium mollitia
                reprehenderit doloremque dolor tenetur doloribus!</span
              >
            </div>
            <div class="comment-get-items comment-get-bottom"><span>2023.05.15. 11:48</span></div>
          </div>
          <div id="comment-list-item">
            <div class="comment-get-items comment-get-top">
              <span>신짱구</span>
              <div>
                <button id="comment-edit" style="font-weight: 500">수정</button>/<button
                  id="comment-delete"
                  style="font-weight: 500">
                  삭제
                </button>
              </div>
            </div>
            <div class="comment-get-items comment-get-mid">
              <span
                >comment 내용 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem saepe suscipit
                omnis eveniet vero ducimus ex tempora, animi dicta eligendi inventore amet praesentium mollitia
                reprehenderit doloremque dolor tenetur doloribus!</span
              >
            </div>
            <div class="comment-get-items comment-get-bottom"><span>2023.05.15. 11:48</span></div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright ©2023 Re_member. All rights reserved.</p>
    </footer>
  </body>
</html>
